package ${rootpackage}.web;

import java.io.Serializable;
import java.util.List;
import java.util.Optional;
import java.util.Set;
import java.util.logging.Logger;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import javax.validation.Valid;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestParam;

import ${rootpackage}.ResponseResult;
import ${rootpackage}.model.ResponseValidate;
import ${rootpackage}.service.BaseService;
import ${rootpackage}.util.rsql.CustomRsqlVisitor;

import cz.jirutka.rsql.parser.RSQLParser;
import cz.jirutka.rsql.parser.ast.Node;

public class BaseControllerImpl<T extends Serializable, P extends Serializable> implements BaseController<T, P> {
	
	protected Logger logger = Logger.getLogger(BaseControllerImpl.class.getName());
	
	@Autowired
	protected BaseService<T, P> baseService;	
		
    @Autowired
    protected HttpServletRequest request;

    @Autowired
    protected HttpServletResponse response;  
   

    @Override
    public List<T> queryByCondition(@Valid @RequestParam(value = "search") String search) {
    	if (search.isEmpty()) {
    		return baseService.loadAll();
    	} else {
	        Node rootNode = new RSQLParser().parse(search);
	        Specification<T> spec = rootNode.accept(new CustomRsqlVisitor<T>());
	    	return baseService.findAll(spec);
    	}
    }  
	
	@Override
    public ResponseEntity<T> create(@Valid @RequestBody T bean) {
		logger.info(" Create :" + bean);
		baseService.add(bean);
    	return new ResponseEntity<T>(bean, HttpStatus.OK);
    }

    @Override
    public  ResponseEntity<T> update(@Valid @RequestBody T bean) {
		logger.info(" Update :" + bean);
		baseService.add(bean);
    	return new ResponseEntity<T>(bean, HttpStatus.OK);
    }

    @Override
    public ResponseEntity<Set<P>> delete(@Valid @PathVariable("ids") Set<P> ids) {
		logger.info(" Update :" + ids);
    	for (P id : ids) {
    		baseService.delete(id);
    	}
    	return new ResponseEntity<Set<P>>(ids, HttpStatus.OK);
    }

    @Override
    public ResponseResult deleteCond(@Valid @ModelAttribute T bean) {
    	return null;
    }

    @Override
    public ResponseValidate validate(T bean) {
    	return null;
    }
    
    /*
	@Override
	public Page<T> query(@Valid @ModelAttribute RequestPage requestPage, @Valid @RequestParam(value = "search") String search) {
		return null;
	}
	*/

	@Override
	public ResponseEntity<Optional<T>> get(@Valid P id) {
		logger.info(" get :" + id);	
		return new ResponseEntity<Optional<T>>(baseService.findById(id), HttpStatus.OK);
	}

	@Override
	public ResponseEntity<List<T>> get() {
		logger.info(" get all records ");
		return new ResponseEntity<List<T>>(baseService.loadAll(), HttpStatus.OK);
	}

	
	//===================================================================================
	// This is for test Generic 
	//
	//===================================================================================
		
	/*
	public static <T, G> List<G> fromArrayToList(T[] a, Function<T, G> mapperFunction) {
	    return Arrays.stream(a)
	      .map(mapperFunction)
	      .collect(Collectors.toList());
	} 
	
	@Test
	public void givenArrayOfIntegers_thanListOfStringReturnedOK() {
	    Integer[] intArray = {1, 2, 3, 4, 5};
	    List<String> stringList
	      = fromArrayToList(intArray, Object::toString);
	  
	    assertThat(stringList, hasItems("1", "2", "3", "4", "5"));
	}
	*/	
	
	
}
