spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth_service
          uri: lb://auth-service
          order: 10
          predicates:
            - Path=/oauth/token/**
		#displayServiceRout($services)
      default-filters:
        - Elapsed=true
      httpclient:
        pool:
          acquire-timeout: 10000
  redis:
    host: localhost
    port: 6379
    database: 0
server:
  port: 4000
logging:
  level:
    org.springframework.cloud.gateway: debug
    com.windmt.filter: debug
management:
  endpoints:
    web:
      exposure:
        include: "*"##
##======================
## Micro
##======================
#macro (displayServiceRout, $services)
   #foreach ($service in $services.entrySet())
        #set($serviceName = $service.key)
		#set($featureUncapName = $GenUtils.uncapitalizeTableName($serviceName))
		#set($featureLwCasName = $GenUtils.lowercaseTableName($serviceName))
        - id: ${featureLwCasName}-service
          uri: lb://${featureLwCasName}-service
          order: 10
          predicates:
            - Path=#displayPath($service)##
   #end   
#end

#macro (displayPath, $service)
   #set($subPaths = "")
   #foreach ($path in $service.value.paths.entrySet()) 
        #set($servicePath = $path.key)
        #if($subPaths == "")
		    #set($subPaths = "/${servicePath}/**")
        #else
			#set($subPaths = "${subPaths}, /${servicePath}/**")
        #end
   #end
$subPaths
#end
