spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth_service
          uri: lb://auth-service
          order: 10
          predicates:
            - Path=/oauth/token/**
		#displayServiceRout($features)
      default-filters:
        - Elapsed=true
      httpclient:
        pool:
          acquire-timeout: 10000
  redis:
    host: localhost
    port: 6379
    database: 0
server:
  port: 4000
logging:
  level:
    org.springframework.cloud.gateway: debug
    com.windmt.filter: debug
management:
  endpoints:
    web:
      exposure:
        include: "*"
		

##======================================================
##Macro
##======================================================  
##==================================
## macro
##==================================
#macro (displayServiceRout, $features)
   #foreach ( $feature in $features )
		#set($featureUncapName = $GenUtils.uncapitalizeTableName(${feature.get("name")}))
		#set($featureLwCasName = $GenUtils.lowercaseTableName(${feature.get("name")}))
		#set($featureCaptiName = $GenUtils.capitalizeTableName(${feature.get("name")}))
        - id: ${featureLwCasName}-service:
          uri: lb://${featureLwCasName}-service
          order: 
          predicates:
            - Path=/${featureLwCasName}/**		
   #end   
#end 
	
